PORT=4000
MONGODB_URI=mongodb+srv://Asra:keshav123@cluster0.9rkfuwe.mongodb.net/appName=Cluster0
RAZORPAY_KEY_ID=rzp_test_SVpqdGwMP58D18
RAZORPAY_KEY_SECRET=Uu9fX44DrqcScZ4k0g81nngN
VITE_RAZORPAY_KEY_ID=rzp_test_SVpqdGwMP58D18
